<h1>Guides Index</h1>
<p> Find a study guide that suits your needs </p>
<% @guides.each do |guide| %>
  <%= link_to guide_path(guide.id) do %>
    <div>
      <h2><%= guide.title %></h2>
      <p><%= guide.description %></p>
    </div>
  <% end %>
<% end %>
